# YAML Config file (watch your syntax)
---
# Redis-backed data model. Connection string is defined the following way:
# redis://<host>:<port>/<db_num>
redis_data: "redis://localhost:6379/1"

# Redis-backed sidekiq queues. Connection string is defined the following
# way: redis://<host>:<port>/<db_num>
redis_queues: "redis://localhost:6379/2"

# Sensu API auth
sensu_api:
  username: sensu
  password: somepass

# Actor configuration
actors:
  smtp:
    from: "notifu@domain.com"
    method: sendmail
    # pass: somepass
  gammu_sms_bridge:
    host: 10077
    port: "mother.prz"
  twilio_call:
    url: "https://domain.com/some/uri/path"
    token: "YourSecureTokenForAPI"
  slack:
    url: http://hooks.slack.com/...
  pagerduty:
    url: http://pagerduty.com/...

# Logging configuration
logging:
  level: info
  syslog:
    enabled: true
  elasticsearch:
    enabled: true
    conn:
     - "localhost:9200"
    timeout: 10
